    <!-- Topbar Start -->
    <div class="container-fluid">
        <div class="row bg-secondary py-2 px-xl-5">
            <div class="col-12 text-right">
                <div class="d-inline-flex align-items-center justify-content-end w-100">
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a *ngIf="showAdminLogin" routerLink="/admin/login" class="text-dark px-2" title="Panel de Admin">
                        <i class="fas fa-lock"></i>
                    </a>
                    <button class="btn btn-link text-dark px-2" (click)="toggleDarkMode()" title="Cambiar modo">
                        <i class="fas" [class.fa-moon]="!darkMode" [class.fa-sun]="darkMode"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="row align-items-center py-3 px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
                <a routerLink="/" class="text-decoration-none">
                    <img src="assets/img/AlmacenDigitalLogo.png" alt="Almacen Digital Logo" style="height: 50px;">
                </a>
            </div>
            <div class="col-lg-6 col-6 text-left">
                <form (ngSubmit)="searchProductos()">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Buscar productos"
                            [(ngModel)]="searchTerm" name="searchTerm">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-3 col-6 text-right">
                <a href="" class="btn border">
                    <i class="fas fa-heart text-primary"></i>
                    <span class="badge">0</span>
                </a>
                <a routerLink="/cart" class="btn border">
                    <i class="fas fa-shopping-cart text-primary"></i>
                    <span class="badge">{{ (totalItems$ | async) ?? 0 }}</span>
                </a>
            </div>
        </div>
    </div>
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <div class="container-fluid mb-5">
        <div class="row border-top px-xl-5">
            <div class="col-lg-3 d-none d-lg-block" style="position: relative; z-index: 1000;">
                <a class="btn shadow-none d-flex align-items-center justify-content-between bg-primary text-white w-100 categories-btn" data-toggle="collapse" href="#navbar-vertical" style="height: 65px; margin-top: -1px; padding: 0 30px;">
                    <h6 class="m-0">Categorías</h6>
                    <i class="fa fa-angle-down text-dark"></i>
                </a>
                <nav class="collapse navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0" id="navbar-vertical" [class.show]="isHomePage" style="position: absolute; top: 65px; left: 0; right: 0; z-index: 1050; background-color: white;">
                    <div class="navbar-nav w-100">
                        <a (click)="selectCategoria(null)" class="nav-item nav-link" style="cursor: pointer;">Todas las Categorías</a>
                        <a *ngFor="let cat of categorias" (click)="selectCategoria(cat.id)" class="nav-item nav-link" style="cursor: pointer;">{{ cat.nombre }}</a>
                    </div>
                </nav>
            </div>
            <div class="col-lg-9">
                <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
                    <a routerLink="/" class="text-decoration-none d-block d-lg-none">
                        <img src="assets/img/AlmacenDigitalLogo.png" alt="Almacen Digital Logo" style="height: 40px;">
                    </a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav mr-auto py-0">
                            <a routerLink="/" [class.active]="currentRoute === '/'" class="nav-item nav-link">Inicio</a>
                            <a routerLink="/shop" [class.active]="currentRoute === '/shop'" class="nav-item nav-link">Tienda</a>
                            <a routerLink="/contact" [class.active]="currentRoute === '/contact'" class="nav-item nav-link">Contacto</a>
                        </div>
                        <div class="navbar-nav ml-auto py-0">
                            <!-- <a href="" class="nav-item nav-link" style="visibility: hidden;">Login</a>
                            <a href="" class="nav-item nav-link" style="visibility: hidden;">Register</a> -->
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- Navbar End -->